extends layout

block title
    title 我的文章

block css


block content
    div
        span=user.username
        a(href='/admin/post') 添加文章
    ul
        each post in posts
            li
                a(href=`admin/post/${post.id}`)=post.title